html, body {background: #181818; font-family: 'Lato', helvetica, arial, sans-serif; font-size: 16px; color: #222;}

#cv {
	width: 90%;
	max-width: 1400px;
	background: #f3f3f3;
	margin: 30px auto;
}

#headerContainer {
	display: flex;
	padding: 15px 35px;
	border-bottom: 2px solid #cf8a05;
	background: #ededed;
}

#photo {
	width: 125px;
	margin-right: 40px;
	align-self:center;
	flex-shrink:0;
}

#photo img {
	width: 100%;
	height: auto;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

#name {
	flex-grow: 1;
	align-self:center;
	margin-right: 40px;
}

#name span {
	white-space:nowrap;
}

#name h1 {
	font-size: 2.5em;
	font-weight: 700;
	margin-top: 0px;
	margin-bottom: 0px;
}

#name h2 {
	font-size: 1.5em;
	font-weight: 500;
	margin-bottom: 0px;
}

#contactDetails {
	font-size: 0.9em;
	align-self: center;
	display:grid;
	grid-gap: 7px;
	grid-template-columns: auto;
	grid-template-rows: auto;
}

#contactDetails .title {
	grid-column-start: 1;
}

#contactDetails .content {
	grid-column-start: 2;
}

#contactDetails a, span { 
	white-space: nowrap;
}

#contactDetails a:hover { 
	color: #cf8a05;
}
