html, body {background: #444; font-family: 'Lato', helvetica, arial, sans-serif; font-size: 16px; color: #222;}

a { 
	text-decoration:none;
}

a:hover { 
	color: #cf8a05;
}

h3 {
	margin-top: 7px;
	margin-bottom: 7px;
}

h4 {
	margin-top: 5px;
	margin-bottom: 5px;
}

#cv {
	width: 90%;
	max-width: 1400px;
	background: #f3f3f3;
	margin: 30px auto;
}

#headerContainer {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	padding: 15px 35px;
	//border-top: 2px solid #cf8a05;
	border-bottom: 2px solid #cf8a05;
	background: #ededed;
}

#photo {
	grid-column-start: 1;
	width: 125px;
	margin-right: 40px;
}

#photo img {
	width: 100%;
	height: auto;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

#name {
	grid-column-start: 2;
	align-self:center;
	margin-right: 40px;
}

span {
	white-space:nowrap;
}

#name h1 {
	font-size: 2.5em;
	font-weight: 700;
	margin-top: 0px;
	margin-bottom: 0px;
}

#name h2 {
	font-size: 1.5em;
	font-weight: 500;
	margin-bottom: 0px;
}

#contactDetails {
	grid-column-start: 3;
	align-self:center;
	margin-top: 30px;
	font-size: 0.9em;
	display:grid;
	grid-gap: 7px;
	grid-template-columns: auto;
	grid-template-rows: auto;
}

#contactDetails .contactKey {
	grid-column-start: 1;
}

#contactDetails .contactValue {
	grid-column-start: 2;
}

#contactDetails .contactValue a:not(:last-child):after {
    content:' |';
}

#contactDetails .contactValue span:not(:last-child):after {
    content:' |';
}

#contactDetails a, span { 
	white-space: nowrap;
}

.sectionContainer {
	display:grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: auto;
	padding: 5px 35px;
	//border-bottom: 1px solid #cf8a05;
}

.sectionContainer:not(:last-child) {
	border-bottom: 1px solid #cf8a05;
}
.sectionTitle {
	grid-column-start: 1;
	margin-right: 20px;
	font-style: italic;
	color: #cf8a05;
}

.sectionTitle h2 {	
	margin-bottom: 0px;
}

.sectionContent {
	grid-column-start: 2;
}

.skillslist ul {
	padding: 0px;
}

.skillslist li {
	display: inline;
	background-color: #d5e5f0;
	border-radius: 7px;
	padding: 3px;
	line-height: 2em;
}

article:not(:last-child) {
	border-bottom: 1px solid black;
}

article li {
	margin-bottom: 5px;
}

@media (max-width: 992px) {
	#photo {
		grid-row-start:1;
		grid-row-end:3;
		align-self:center;
	}
	#contactDetails {
		grid-column-start:2;	
		margin-top:10px;		
	}
}

@media (max-width: 768px) {
	#headerContainer {
		padding:10px 10px;
	}
	#photo {
		display:none;
	}
	#name {
		grid-column-start:1;
		text-align: center;
		margin-right:0px;
	}
	#contactDetails {
		grid-column-start:1;	
		margin-top:20px;		
	}
	
	.sectionContainer {
		grid-template-columns: auto;
		padding:0px 10px;
	}
	
	.sectionTitle h2 {
		text-align: center;
	}
	
	.sectionContent {
		grid-column-start:1;	
	}
	
}

@media (max-width: 320px) {

}

// Anything else has the default wide display
